
*.db_info
*.flock
*.qpf
*.qsf
*.qmsg
*.logdb
*.hdb
*.cdb
*.xml
*.rdb
*.kpt
*.hier_info
*.hif
*.html
*.txt
*.ammdb
*.bpm
*.sci
*.ddb
*.tmw_info
*.json
*.dpi
*.hb_info
*.sig
incremental_db/README
*.done
*.rpt
*.summary
*.bak
*.qws
